[alias]
    co=checkout
    ci=commit
    st=status
    br=branch
    tree=log --graph --decorate --pretty=oneline --abbrev-commit
    cp=cherry-pick

[color]
    ui=true

[user]
    name=Richard Chang
    email=chiel99@gmail.com

[core]
    editor=mvim -v
    #editor=vim
    #autocrlf = input

[commit]
#    template=~/.gittemplate
[push]
    default = simple

#[diff]
#    tool = vimdiff
#
#[difftool]
#    prompt = false

[fetch]
    prune = true

[diff]
    noprefix = true
