[alias]
    co=checkout
    ci=commit
    st=status
    br=branch
    tree=log --graph --decorate --pretty=oneline --abbrev-commit

[color]
    ui=true

[user]
    name=chiel99
    email=chiel99@gmail.com

[core]
    editor=vim

[commit]
    template=/home/richard/.gittemplate
